/*
Colors used:
Primary Color (purple): rgba(82,55,93,1);
Secondary Color (white): rgba(255,255,255,1);
Neutral Color (gray) : rgba(235,234,235,1);
Text Color (black) : rgba(0,0,0,1);
*/
* {
  box-sizing: border-box;
}

/*   body sections */
body {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

main {
  padding-top: -360px;
}

/* typography */
h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-size: 1.25em;
  font-weight: 200
}

/* images */
img {
  width: 100%;
}

/* links */
a {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
  /*underlining*/
}

a:visited {
  /* visited link */
  color: #AA8BA1;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #AA8BA1;
  text-decoration: 700px;
  /*bold when hovering over a link */
}

a:active {
  /* selected link */
  color: rgba(255, 255, 255, 1);
}

/* buttons */
.button {
  display: inline-block;
  background-color: rgba(82, 55, 93, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
text-decoration: none;
  padding: 16px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
transition: 0.2s opacity;
}

.button:hover {
  background-color: #AA8BA1;
  color: rgba(82, 55, 93, 1);
  font-weight: 700;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  color: rgba(255, 255, 255, 1);
}

.button.contact {
  background-color: transparent;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
  border: 2px solid rgba(255,255,255,1);
}

.button.contact:hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.button.contact:active {
  background-color: rgba(235, 234, 235, 1);
  color: rgba(0, 0, 0, 1);
}

/* header styling */


header {
  background-color: rgba(82, 55, 93, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
  width: 100%;
}

  header img {
  max-width: 250px;
}


/* navigation menu styling */

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

nav>ul>li>a:visited {
  color: rgba(255, 255, 255, 1);
}

nav>ul>li>a:hover {
  color: #AA8BA1;
}

nav>ul>li>a:active {
  color: #AA8BA1;
}


#hero {
  background-color: rgba(82, 55, 93, 1);
  color: rgba(235, 234, 235, 1);
  padding: 20px 15px;
  display:inline-block;
  text-align: center;
  width: 100%;
}

#hero span {
  display: block;
}

#contact {
  text-align: center;
  background-color: rgba(82, 55, 93, 1);
  color: rgba(235, 234, 235, 1);
}
#contact .container {
  padding: 10px 10px;
}

.socials {
  padding: 10px 0 10px 0;
}
/* layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;

}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work h2{
  text-align: center;
}

}
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

#work .row::after {
  content: "";
  clear: both;
  display: table;
}
}

.process {
 height: 100%;
  width: 100%
}

@keyframes color-change {
  0% {fill:#72B7FF;}
50% {fill: #358DE8;}
  100% {fill:#0D66C2;}
}

.pathway {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-timing-function: linear;
}

@keyframes icon-move {
  from{transform: translate(0,0px);}
  to {transform: translate(0px, 10px);}
}

.icon {
  animation: 3s icon-move infinite alternate linear;
}
/* id selectors for about */

#about-page h3 {
  margin-left: 0;
}

#about-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  margin: 10px 0;
}

#about-img img {
  max-width: 640px;
}

#resume {
  margin: 30px 0;
display:flex;
justify-content: center;

}
#about-head #about-story h2 {
  text-align: center;
}

#skills {


}

#about-skills h2 {
  text-align: center;
  display: block;
}

#about-tools

/* id selectors for presence direction */

#pres-intro {
  text-align: center;
}

#pres-process h2 {
  text-align: center;
}

#pres-conclusion h2 {
  text-align: center;
}

/* id selectors for linkedin */







#linked-process h2 {
  text-align: center;
}

#linked-conclusion h2 {
  text-align: center;
}

/* id selectors for becoming counseling */

#bcmg-intro #bcmg-process h2 {
  text-align: center;
}

#bcmg-conclusion h2 {
  text-align: center;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  align-items: center;
  }

header img {
  max-width: 100px;
}
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

.col-md-6 {
  width: auto;
}

.button {
  width: 200px;
  text-align: center;
}

.svg{
  width: 100%
  max-width: 100%;
  height: auto;
}

.col-lg-7 {
width: 60%;
}

.col-lg-5 {
width: 40%;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {


main {
  padding top: 20px;
}
.row {
  padding: 10px 0;
}

.col-lg-7 {
width: 60%;
}

.col-lg-5 {
width: 40%;
}

.col-lg-5 h3{
  font-size: 22px;
  margin: 10px 0;
}

.col-lg-5 p{
  font-size: 16px;
}

.svg{
  width: 100%
  max-width: 100%;
  height: auto;
}

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  header img {
    max-width: 150px;
  }
  .col-xl-4 p {
    font-size:20px;
  }

  .col-xl-4 h3 {
    font-size: 28px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }


}
